---
import Item from '../components/Item.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Skill from '../components/Skill.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio">
	<div class="flex flex-col items-center w-full">
		<div class="max-w-3xl pt-8 pb-16 px-8 md:px-0">
			<h1 class="text-gradient">Juan Carlos Velasco Sánchez</h1>
			<h2 class="text-white mb-16">Software Engineer turned Entrepreneur. I love building things and helping people. Very active on Twitter.</h2>
			<h2 class="text-white font-bold mb-4 text-2xl">About</h2>
			<p class="text-white mb-16">At the end of 2022, I quit my job as a software engineer to go fulltime into building and scaling my own SaaS businesses. In the past, I pursued a double degree in computer science and business, interned at big tech companies in Silicon Valley, and competed in over 21 hackathons for fun. I also had the pleasure of being a part of the first ever in-person cohort of buildspace called buildspace sf1.</p>
			<h2 class="text-white font-bold mb-8 text-2xl">Work experience</h2>
			<div class="flex flex-col gap-6 mb-16">
				<Item 
					title="Software Engineer (Intern)" 
					subtitle="Indra" 
					imageSource="indra.svg" 
					time="July 2024 - September 2024"
					altTime="(2024 - 2024)"
				/>
				<Item 
					title="Software Engineer (Intern)" 
					subtitle="NTT Data" 
					imageSource="nttdata.svg" 
					time="February 2023 - July 2023"
					altTime="(2023 - 2023)"
				/>
			</div>
			
			<h2 class="text-white font-bold mb-8 text-2xl">Education</h2>
			<div class="flex flex-col gap-6 mb-16">
				<Item
					subtitle="Universidad Internacional de La Rioja"
					title="Master's Degree in Artificial Intelligence"
					imageSource="unir.svg"
					time="2024 - 2025"
					altTime="(2024 - 2025)"
				/>
				<Item
					subtitle="Universidad Pontificia de Salamanca"
					title="Master's Degree in Mobile App Development"
					imageSource="upsa.svg"
					time="2023 - 2024"
					altTime="(2023 - 2024)"
				/>
				<Item
					subtitle="Universidad de Salamanca"
					title="Computer Science"
					imageSource="usal.svg"
					time="2019 - 2023"
					altTime="(2019 - 2023)"
				/>
			</div>

			<h2 class="text-white font-bold mb-8 text-2xl">Skills</h2>
			<div class="flex flex-row flex-wrap gap-2 mb-16">
				<Skill name="SwiftUI"/>
				<Skill name="Compose"/>
				<Skill name="React"/>
				<Skill name="Node.js"/>
				<Skill name="Typescript"/>
				<Skill name="Kotlin"/>
				<Skill name="Java"/>
			</div>

			<h2 class="text-white font-bold mb-8 text-2xl">Projects</h2>
			<div class="flex flex-row flex-wrap gap-4">
				<ProjectCard 
					projectName="Portfolio" 
					githubLink="https://github.com/jcarlosvelasco/portfolio"
					tecnologies={["Astro", "Tailwind"]}
				/>
			</div>
		</div>	
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
