---
import ProjectTecnology from "./ProjectTecnology.astro"

const {projectName, githubLink, tecnologies} = Astro.props
---

<style>
    .project-card {
        @apply sm:w-[calc(50%-16px)] w-full;
    }
</style>

<div class="flex text-white flex-col rounded-md border-stone-500 project-card p-4 border gap-4 hover:bg-zinc-800 transition duration-300">
    <div class="flex flex-row justify-between items-center">
        <p class="font-semibold text-xl">{projectName}</p>
        <a href={githubLink}>
            <img src={"github.svg"} class="w-5"/>
        </a>
    </div>
    <div class="flex flex-row gap-4 content-center">
        <img src={"astro.svg"} class="w-3 sm:w-5"/>
        <div class="sm:flex flex-row gap-2 content-center hidden">
        {
            tecnologies.map((tecnology: string) => (
                <ProjectTecnology tecnologyName={tecnology}/>
            ))
        }
        </div>
    </div>
</div>